atomicwrites
beautifulsoup4
bs4==0.0.1
certifi 
chardet 
click 
colorama
idna 
iniconfig 
itsdangerous 
Jinja2 
MarkupSafe
packaging
pluggy 
py
PyJWT 
pyparsing 
pytest-flask
python-dotenv
soupsieve 
toml 
urllib3 
Werkzeug 
pymongo