<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Landing Page - Start Bootstrap Theme</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"
          type="text/css"/>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script>
        function to_review()
        {
            $.ajax({
                type: 'POST',
                url: '/review',
                data: {'mapx': '300492', 'mapy': '552541', 'title': '난지캠핑장', 'address': '서울특별시 마포구 한강난지로 28'},
                success: function (response)
                {
                    window.location.href = '/review'
                }
            })
        }
    </script>
</head>

<body>
<!-- Navigation-->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a id="user-info"></a>
        <a class="btn btn-primary" onclick="to_review()">리뷰</a>
    </div>
</nav>
<!-- Masthead-->
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5"><p>나 홀로 캠핑!</p>
                        <p>어디로 떠날까요?</p></h1>
                    <!-- form-->
                    <form>
                        <div class="input-group input-group-lg">
                            <select class="form-select" id="region" type="text" aria-describedby="button-submit">
                                <option selected> 검색할 지역을 선택하세요.</option>
                                <option value="서울시">서울시</option>
                                <option value="부산시">부산시</option>
                                <option value="대구시">대구시</option>
                                <option value="인천시">인천시</option>
                                <option value="광주시">광주시</option>
                                <option value="대전시">대전시</option>
                                <option value="울산시">울산시</option>
                                <option value="세종시">세종시</option>
                                <option value="경기도">경기도</option>
                                <option value="강원도">강원도</option>
                                <option value="경상남도">경상남도</option>
                                <option value="경상북도">경상북도</option>
                                <option value="충청남도">충청남도</option>
                                <option value="충청북도">충청북도</option>
                                <option value="전라남도">전라남도</option>
                                <option value="전라북도">전라북도</option>
                                <option value="제주도">제주도</option>
                            </select>
                            <button class="btn btn-primary" id="button-submit" type="button" onclick="showArticles()">
                                Search
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Image Showcases-->
<section class="showcase">
    <div class="container">
        <div id="cards-box" class="card-columns">
            {% for d in data %}
            <div class="card">
                <img class="card-img-top"
                     src="#"
                     alt="Card image cap">
                <div class="card-body">
                    <a href="{{ d['link'] }}" class="card-title">{{ d['campsite_name'] }}</a>
                    <p class="card-text">{{ d['category'] }}</p>
                    <p class="card-text">{{ d['address'] }}</p>
                    <p class="card-text">{{ d['road_address'] }}</p>
                    <p class="card-text comment"></p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Testimonials-->
<section class="testimonials text-center bg-light">
    <div class="container">
        <h2 class="mb-5">What people are saying...</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <h5>Margaret E.</h5>
                    <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <h5>Fred S.</h5>
                    <p class="font-weight-light mb-0">"Amazing. I've been using it to create lots of super
                        nice landing pages."</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <h5>Sarah W.</h5>
                    <p class="font-weight-light mb-0">"Thanks so much for making these free resources available to
                        us!"</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer-->
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a href="#!">About</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">Contact</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Website 2021. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
