{% extends 'base.html' %}
{% block content %}
<!-- Login CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<!-- 네이버 아이디 로그인 js -->
<script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8">
</script>
<!-- Login JS -->
<script src="{{ url_for('static', filename='js/login.js') }}"></script>

<section class="login-form">
    <h1>로그인 페이지</h1>
    <form action="">
        <div class="int-area">
            <input type="text" name="id" id="userid" autocomplete="off" required>
            <label for="userid">USER ID</label>
        </div>
        <div class="int-area">
            <input type="password" name="pw" id="userpw" autocomplete="off" required>
            <label for="userpw">PASSWORD</label>
        </div>
        <div class="btn-area">
            <button id="loginBtn" onclick="login()">로그인</button>
        </div>
    </form>
    <div class="caption">
        <a href="">Forgot Password?</a>
        <a href="{{ url_for('main.register') }}">회원이 아니라면?</a>
        <!-- 네이버아이디로로그인 버튼 노출 영역 -->
        <div id="naver_id_login"></div>
    </div>
</section>

<!-- //네이버아이디로로그인 버튼 노출 영역 -->
<script type="text/javascript">
    var naver_id_login = new naver_id_login(
        "{{ NAVER_LOGIN_CLIENT_ID }}", "{{ NAVER_LOGIN_CALLBACK_URL }}");
    var state = naver_id_login.getUniqState();
    naver_id_login.setButton("white", 2, 40);
    naver_id_login.setDomain("{{ NAVER_LOGIN_SERVICE_URL }}");
    naver_id_login.setState(state);
    naver_id_login.setPopup();
    naver_id_login.init_naver_id_login();
</script>
{% endblock %}