{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
<script src="{{ url_for('static', filename='js/register.js') }}"></script>
<section class="login-form">
    <h1>회원가입 페이지</h1>
    <form action="">
        <div class="int-area">
            <dt> <label for="userid">USER ID: </label> </dt>
            <dd> <input type="text" class="form-control" id="userid" placeholder="My ID"> </dd>
        </div>
        <div class="int-area">
            <dt> <label for="userpw">PASSWORD: </label> </dt>
            <dd> <input type="password" class="form-control" id="userpw" placeholder="My Password"> </dd>
        </div>
        <div class="int-area">
            <dt> <label for="username">NICKNAME: </label> </dt>
            <dd> <input type="text" class="form-control" id="username" placeholder="My Nickname"> </dd>
        </div>
        <div class="int-area">
            <dt> <label for="email">E-MAIL: </label> </dt>
            <dd> <input type="email" class="form-control" id="email" placeholder="My E-mail"> </dd>
        </div>
        <div class="btn-area">
            <button class="btn btn-primary" onclick="register()">회원가입</button>
        </div>
</section>
</div>
{% endblock %}